table{
  width: 100%;
  font-weight: bold;
}



#celda1{
  background-color: lightgreen;
}
#celda2{
  background-color: cyan;
   text-align: left;
}

#celda3,#celda5,#celda8{
  color:red;
}
#celda6{
  background-color: pink;
   text-align: right;
}

td{
   border: 0.5px solid gray;
}

table{
 border-spacing:1;
 border: 1px solid black;
  padding: 3px;
}

h3{
  text-align: center;
}



